<%
const pageMeta = {
	title: 'GLSL最終課題',
	title_span: '',
	description: 'ホームページの説明',
	bodyClass: 'home',
	site: 'GLSLスクール'
};

%>
<%- include('_template/_header', { meta: pageMeta }) %>

<section id="section01">
	<div class="canvas-area"></div>
	<p>section01が入ります</p>
</section>

<section id="section02">
	<div class="canvas-area"></div>
	<p>section02が入ります</p>
</section>

<canvas id="webgl-canvas"></canvas>

<%- include('_template/_footer', { meta: pageMeta }); %>
